.Game * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.Game {
  display: block;
  width: 800px;
  height: 568px;
  margin: 0;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.5rem 0 0 0;
}
.Game .Div--ios {
  padding: 0;
}
.Game h4 {
  margin: 0 0 0.5rem 0;
}
.Game h5 {
  margin: 0 0 0.5rem 0;
}
.Game p {
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
}

.game-block {
  margin: 0;
  padding: 0;
  width: 28.8px;
  height: 28.8px;
  border: 1px solid #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.piece-i {
  background-color: #e3cdaa;
}
.piece-j {
  background-color: #e3cdaa;
}
.piece-l {
  background-color: #e3cdaa;
}
.piece-o {
  background-color: #e3cdaa;
}
.piece-s {
  background-color: #e3cdaa;
}
.piece-t {
  background-color: #e3cdaa;
}
.piece-z {
  background-color: #e3cdaa;
}
.piece-preview {
  background-color: transparent;
}

table.game-board {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.game-block.type-1 {
  background-image: url(../img/sausages/1.png);
}
.game-block.type-2 {
  background-image: url(../img/sausages/2.png);
}
.game-block.type-3 {
  background-image: url(../img/sausages/3.png);
}
.game-block.type-4 {
  background-image: url(../img/sausages/4.png);
}
.game-block.type-5 {
  background-image: url(../img/sausages/5.png);
}
.game-block.type-6 {
  background-image: url(../img/sausages/6.png);
}
.game-block.piece-preview {
  background: none !important;
}
